%div{:style => "width: 100%"}
  - @friendships.each do |friendship|
    = link_to user_posts_path(friendship.friend.username) do
      %div{:style => "display: block; float: left; margin: 5px"}
        %div{:style => "float: left"}
          - if friendship.friend.avatar_file_name != nil
            = image_tag(friendship.friend.avatar.url(:medium), class: "user_avatar")
        %div{:style => "float: right"}
          %b= friendship.friend.username
      %br/
