<div style="height: 155px">
<div style="float: left">
  <%= link_to root_path do %>
    <h2>FotoWeb</h2>
  <% end %>
  <h4>Your place to share photos</h4>
</div>
<div style="float: right; height: 200px">
  <%= render "posts/current_user" %>
</div>
</div>
<hr style="width: 100%">
